img {
	width: 50px;
	margin: 0px;
}
.navItems {
	display: flex;
	justify-content: center;
	color: blue;
}
.bitcoin-logo {
	margin-left: 50px;
}
.catcher {
	display: flex;
	justify-content: center;
}
h2 {
	display: flex;
	justify-content: center;
}
