img {
	width: 50px;
	margin: 0px;
}
.navItems {
	display: flex;
	justify-content: center;
	color: blue;
}
.bitcoin-logo {
	margin-left: 50px;
}
.catcher {
	display: flex;
	justify-content: center;
}
h2 {
	display: flex;
	justify-content: center;
}
.NavbarComp {
	display: flex;
	justify-content: space-evenly;
}

body {
	width: 100%;
	height: 100%;
}

body {
	background: linear-gradient(-45deg, #ebddd9, #eecbd8, #c2d7df, #e0dcc3);
	background-size: 400% 400%;
	animation: gradient 3000 ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
